<ion-card>
  <p>
    Dear valued user,
    We want to express our gratitude for choosing the Unbiased Break app. As a small team, your support means a lot to us. For transparency, expect a banner ad on each article, a video ad every 3rd article, a video ad every 5th GPT Summary you read and a video ad for each time you summarize an article using AI. We apologize for any inconvenience caused by ads, but they are crucial for sustaining our operations. To offer an ad-free experience, we have a subscription plans for $20/year or $3.99/month, which can be found in the Profile tab.
    Our goal is to provide you with a unique platform that delivers relevant news on topics you care about. We want to empower you with diverse perspectives, ensuring a well-rounded understanding of various situations.
    We'd love to hear your thoughts on how we can improve and any features you'd like to see in the app. Feel free to reach out to us at <a href="mailto: info@votercertified.com">info@votercertified.com</a> with your suggestions or concerns.
    Thank you for being a part of our community!  
  </p>
  <div style="display: flex; justify-content: center;">
  <ion-button>
    Close
  </ion-button>
  </div>
</ion-card>
