<ion-header>
  <ion-toolbar>
    <ion-title>Community Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="show-gradient">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
    pullFactor="0.8"
    pullMin="100"
    pullMax="130"
    style="background: #f3f3f3"
  >
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none">
    <ion-card
          class="article"
          *ngFor="let item of feed"
          (click)="onArticleClick(item);"
          [routerLink]="(item.link.includes('nytimes.com') || item.link.includes('wsj.com')) ? [] : ['/news-article/' + item.id + '/category-articles']"
          [state]="{ article: item }"
        >
          <div class="card-content-container">
            <div>
              <div class="date-and-shares">
                <p>Shares: {{item.share_count}}</p>
                <p>{{item.timestamp?.toDate() | date:'mediumDate'}}</p>
              </div>

              <p
                class="title"
                style="white-space: initial"
              >
                {{item.title}}
              </p>

              <div class="source-container">
                <p>{{item.siteName}}</p>
              </div>
            </div>

            <img [src]="item.image"/>
          </div>
        </ion-card>
  </ion-list>

</ion-content>
