<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      GPT Summary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let summary of gptSummaries" class="summary-card">

    <div class="share-btn-container">
      <ion-button fill="clear" class="share-btn">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </div>

    <ion-card-header>
      <ion-card-title>{{ summary.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ summary.summary }}
    </ion-card-content>

    <img *ngIf="summary.image" class="article-img" [src]="getImage(summary)" alt="Article image">

    <div class="source-container">
      <img
        [src]="getSourceImage(summary)"
        alt="summary source image"
      />
      <p>{{summary.source}}</p>

      <a
      [routerLink]="(summary.link.includes('nytimes.com') || summary.link.includes('wsj.com')) ? [] : ['/news-article/' + summary.id + '/trending-articles']"
      (click)="onArticleClick(summary);">
      Read more</a>

    </div>
  </ion-card>
</ion-content>
