<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title> GPT Summary </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentGPTClearAlert()">Clear All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    *ngIf="(!gptSummaries || gptSummaries.length == 0) && doneLoading"
    style="height: max-content"
  >
    <h1 style="margin: 40% 20px 0 20px; text-align: center; line-height: 150%;">
      <b>Looks Like There's No More Summaries...</b>
    </h1>
  </div>
  <ion-slides
    style="margin-top: 25px"
    (ionSlideNextEnd)="didChangeToNext()"
    #slides
  >
    <ion-slide *ngFor="let summary of gptSummaries">
      <ion-card class="summary-card">
        <div class="share-btn-container">
          <ion-button fill="clear" (click)="clearSummary($event, summary.id)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" class="share-btn" (click)="share(summary)">
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
        </div>

        <ion-card-header>
          <ion-card-title>{{ summary.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content> {{ summary.summary }} </ion-card-content>

        <img
          *ngIf="summary.image"
          class="article-img"
          [src]="getImage(summary)"
          alt="Article image"
        />

        <ion-button
          fill="clear"
          (click)="favoriteArticle(summary)"
          *ngIf="isLoggedIn"
          ><ion-icon
            *ngIf="summary.favorited"
            slot="icon-only"
            name="bookmark"
          ></ion-icon>
          <ion-icon
            *ngIf="!summary.favorited"
            slot="icon-only"
            name="bookmark-outline"
          ></ion-icon
          >Bookmark</ion-button
        >
        <!--<ion-button fill="clear">Remove</ion-button>-->
        <div class="source-container">
           <ion-img src="assets/icon/favicon.png" style="height: 28px; width: fit-content;"></ion-img>

          <a
            [routerLink]="(summary.link.includes('nytimes.com') || summary.link.includes('wsj.com')) ? [] : ['/news-article/' + summary.id + '/trending-articles']"
            (click)="onArticleClick(summary);"
          >
            Read more</a
          >
        </div>
        <div style="display: flex; justify-content: space-between">
          <ion-button
            *ngIf="gptSummaries && gptSummaries.length > 0 && summary.id != gptSummaries[0].id"
            fill="clear"
            style="margin-right: auto"
            (click)="slides.slidePrev()"
          >
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
          <ion-button
            *ngIf="gptSummaries && gptSummaries.length > 0 && summary.id != gptSummaries[gptSummaries.length - 1].id"
            fill="clear"
            style="margin-left: auto"
            (click)="slides.slideNext()"
          >
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <app-first-time-pop-up *ngIf="showFirstTimePopUp" (buttonClicked)="closeFirstTimePopUp()"></app-first-time-pop-up>
</ion-content>
