.summary-card {
  padding: 10px;
  margin-top: 15%;
  ion-card-header {
    padding-top: 5px;
  }

  ion-card-title {
    font-size: 18px;
  }
}

.source-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 20px;
    width: 25px;
    margin: 5px;
  }

  P {
    margin: 0px;
  }

  a {
    margin-left: auto;
  }
}

.article-img {
  border-radius: 10px;
}

.share-btn-container {
  display: flex;
  justify-content: space-between;
}

.share-btn {
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  ion-toolbar,
  ion-button,
  ion-card,
  ion-card-title {
    --background: #191919;
    --color: #f0f0f0;
  }
  ion-content {
    --background: #1d1d1d;
  }
  .source-container {
    a {
      color: #dc151c;
    }
  }
}

ion-toolbar {
  --background: #171717;
  --min-height: 75px;
  --border-width: 0 0 0 !important;
  ion-title {
    font-weight: bold;
    color: #f0f0f0;
  }
}
