.blue-background {
    --background: #ffffff;
    --color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: -1px 3px 20px 0px #404040;
}

img {
    height: 30px;
    width: 30px;
}

.grayscale-0 {
    img {
        filter: grayscale(0%);
    }
  }
  
.grayscale-100 {
    img {
        filter: grayscale(100%);
    }
  }