.blue-background {
    --background: #ffffff;
    --color: white;
    box-shadow: -1px 3px 20px 0px #404040;
}

img {
    height: 30px;
    width: 30px;
}

.grayscale-0 {
    img {
        filter: grayscale(0%);
    }

    p {
        margin: 0px;
        font-size: 12px;
        font-weight: 500;
        background: -webkit-linear-gradient(#3C1EBF, #DC151C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
  
.grayscale-100 {
    img {
        filter: grayscale(100%);
    }

    p {
        margin: 0px;
        font-size: 12px;
        font-weight: 500;
        color: black;
    }
  }

@media (prefers-color-scheme: dark) {
    .blue-background {
        --background: #000000;
        --color: white;
    }
    .grayscale-100 {
        p {
            color: #f0f0f0;
        }
      }
}