<ion-header [translucent]="true" id="main-content"> 
  <ion-toolbar>
    <ion-buttons slot="start" style="align-self: center;">
      <ion-menu-button>
        <ion-icon class="menu-btn" src="assets/icons/color-menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>

    <ion-searchbar #searchBar *ngIf="showSearchBar" class="search" [(ngModel)]="search" debounce="500" (ionChange)="searchShownArticles()" (ionClear)="clearSearch()"></ion-searchbar>

    <ion-buttons slot="end" style="align-self: center; gap: 5px;">
        <ion-button class="toolbar-btns" (click)="toggleSearchBar()">
          <img src="assets/icons/color-search.svg" alt="bell">
        </ion-button>
        <ion-button class="toolbar-btns">
          <img src="assets/icons/color-notification.svg" alt="bell">
        </ion-button>
      <ion-button class="toolbar-btns">
        <ion-img src="assets/icon/favicon.png">
        </ion-img>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!--MENU-->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button routerLink="../tab1">
      Topics
    </ion-button>
    <br>
    <ion-button routerLink="../tab3" id="introjs-step6">
      Settings
    </ion-button>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" class="show-gradient">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="100" pullMax="130" style="background: #f3f3f3">
    <ion-refresher-content 
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <!--HORIZONTAL TRENDING ARTICLE SECTION-->
  <ion-item class="show-gradient no-border">
    <ion-label class="trending-label">Trending</ion-label>
  </ion-item>

  <div class="scroll-container trending-article-container">
    <div class="scroll-content">
      <ion-card class="trending-articles" *ngFor="let item of items let i = index;"
      (click)="readArticles.push(item.id); onArticleClick(item);"
          [routerLink]="(item.link.includes('nytimes.com') || item.link.includes('wsj.com')) ? [] : ['/news-article/' + item.id + '/trending-articles']" [state]="{ article: item }">
        <div>
          <img class="trending-article-img" [src]="getImage(item)" (error)="onImgError($event)" alt="trending article image">
          <!--<div class="trending-article-topic-pill">Politics</div>-->
        </div>
        <div class="trending-article-trending-and-time-container">
          <span>🔥Trending no. {{ i + 1 }}</span>
          <span>{{ getHoursAgo(item.date) }} hours ago</span>
        </div>
        <p class="trending-article-title">{{item.title}}</p>
        <div class="trending-article-source-container">
          <img [src]="getSourceImage(item)" alt="trending article source image">
          <p>{{item.siteName}}</p>
        </div>
      </ion-card>
    </div>
  </div>
  <!--END OF SECTION-->

  <!--CATEGORIES SECTION-->

  <ion-item class="show-gradient no-border">
    <ion-label class="trending-label">Explore</ion-label>
  </ion-item>

  <div class="scroll-container">
    <div class="scroll-content category-container">
      <button (click)="setCategory('world')" style="background-image: url('assets/category-imgs/world.jpg')" [class.active-button]="category === 'world'">World</button>
      <button (click)="setCategory('united-states')" style="background-image: url('assets/category-imgs/us.jpg')" [class.active-button]="category === 'united-states'">U.S.</button>
      <button (click)="setCategory('politics')" style="background-image: url('assets/category-imgs/politics.jpg')" [class.active-button]="category === 'politics'">Politics</button>
      <button (click)="setCategory('economy')" style="background-image: url('assets/category-imgs/economy.jpg')" [class.active-button]="category === 'economy'">Economy</button>
      <button (click)="setCategory('business')" style="background-image: url('assets/category-imgs/business.jpg')" [class.active-button]="category === 'business'">Business</button>
      <button (click)="setCategory('tech')" style="background-image: url('assets/category-imgs/tech.jpg')" [class.active-button]="category === 'tech'">Tech</button>
      <button (click)="setCategory('markets')" style="background-image: url('assets/category-imgs/markets.jpg')" [class.active-button]="category === 'markets'">Markets</button>
      <button (click)="setCategory('opinion')" style="background-image: url('assets/category-imgs/opinion.jpg')" [class.active-button]="category === 'opinion'">Opinion</button>
      <button (click)="setCategory('sports')" style="background-image: url('assets/category-imgs/sports.jpg')" [class.active-button]="category === 'sports'">Sports</button>
    </div>
  </div>

  <div class="category-section">
    <div style="margin-top:15px">

      <ion-list lines="none" *ngIf="!loading">
        <ion-card class="category-article" *ngFor="let item of categoryItems"
          (click)="readArticles.push(item.id); onArticleClick(item);"
          [routerLink]="(item.link.includes('nytimes.com') || item.link.includes('wsj.com')) ? [] : ['/news-article/' + item.id + '/category-articles']" [state]="{ article: item }">
          
          <div class="category-card-content-container">
            <div>
              <div class="category-and-time">
                <p>{{item.topic}}</p>
                <p>{{item.date?.toDate() | date:'mediumDate'}}</p>
              </div>

              <p class="title" style="white-space: initial;" [ngStyle]="{'font-weight': !isRead(item.id) ? 'bold': 'normal'}">{{item.title}}</p>

              <div class="source-container">
                <img [src]="getSourceImage(item)" alt="trending article source image">
                <p>{{item.siteName}}</p>
              </div>
            </div>

            <img [src]="getImage(item)" (error)="onImgError($event)">
          </div>
        </ion-card>
      </ion-list>

        <div *ngIf="loading">
          <ion-spinner name="dots"></ion-spinner>
        </div>
    </div>
  </div>
  <!--END OF SECTION-->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>