<ion-header [translucent]="false" id="main-content"> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Trending</ion-title>
  </ion-toolbar>
</ion-header>

<!--MENU-->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button routerLink="../tab2">
      Trending
    </ion-button>
    <br>
    <ion-button routerLink="../tab3" id="introjs-step6">
      Settings
    </ion-button>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" class="show-gradient">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="100" pullMax="130" style="background: #f3f3f3">
    <ion-refresher-content 
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar class="search" [(ngModel)]="search" debounce="500" (ionChange)="searchShownArticles()" (ionClear)="clearSearch()"></ion-searchbar>
  <div class="news-section">
    <div style="margin-top:15px">
      <ion-item class="news-bg-label no-border" style="border-radius: 12px;" lines="none">
        <ion-label style="font-weight: bold;">Trending Topics</ion-label>
      </ion-item>
      <!--<div class="card-container">
        <ion-card *ngFor="let item of items" class="content-card" (click)="readArticles.push(item.id)" [routerLink]="['/news-article/' + item.id + '/trending-articles']" [state]="{ article: item }">
          <img [src]="getImage(item)" (error)="onImgError(item, $event)">
          <ion-card-content>
            <ion-label class="article-data-thumb">
              <h3 style="white-space: initial;" [ngStyle]="{'font-weight': !isRead(item.id) ? 'bold': 'normal'}">{{item.title}}</h3>
              <p>{{item.siteName}}</p>
              <p>{{item.date?.toDate() | date:'mediumDate'}}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>-->
      <ion-list lines="none" *ngIf="!loading">
        <ion-item class="news-link" *ngFor="let item of items"
          (click)="readArticles.push(item.id); onArticleClick(item);"
          [routerLink]="(item.link.includes('nytimes.com') || item.link.includes('wsj.com')) ? [] : ['/news-article/' + item.id + '/trending-articles']" [state]="{ article: item }">
          <ion-thumbnail slot="start">
            <img [src]="getImage(item)" (error)="onImgError($event)">
          </ion-thumbnail>
          <ion-label class="article-data-thumb">
            <h3 style="white-space: initial;" [ngStyle]="{'font-weight': !isRead(item.id) ? 'bold': 'normal'}">{{item.title}}</h3>
            <p>{{item.siteName}}</p>
            <p>{{item.date?.toDate() | date:'mediumDate'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
        <div *ngIf="loading">
          <ion-spinner name="dots"></ion-spinner>
        </div>
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>