<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start" [hidden]="!isDesktop">
      <ion-button routerLink="../tab2">
        Trending
      </ion-button>
      <ion-button routerLink="../tab3" id="introjs-step6">
        Settings
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">My Feed</ion-title>
    <ion-button fill="clear" slot="end" (click)="introJSReplay()">
      <ion-icon name="help-outline"></ion-icon>
    </ion-button>
    <ion-buttons id="introjs-step4" slot="end">
      <ion-button id="open-modal" [disabled]="!currentUserDoc" (click)="filterIntroJS()">
        <ion-icon name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background: #f3f3f3">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="100" pullMax="130" style="background: #f3f3f3">
    <ion-refresher-content 
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar class="search" [(ngModel)]="search" debounce="500" (ionChange)="searchShownArticles()" (ionClear)="clearSearch()"></ion-searchbar>
  <ion-item class="show-gradient no-border">
    <ion-label class="topic-label">Subscribed Topics</ion-label>
  </ion-item>

  <div class="scroll-container">
    <div class="scroll-content">
      <ion-card class="topic-card" *ngFor="let topic of topicOptions; let last = last" [class.topic-checked]="topic.checked" [class.topic-not-checked]="!topic.checked" (click)="topicClick(topic)" [id]="last ? 'introjs-step2' : ''">
        {{ topic.display | titlecase}}
      </ion-card>      
      <ion-card id="introjs-step3" class="topic-card" (click)="openTopicModal()">
        Edit Topics
      </ion-card>
    </div>
  </div>

  <div class="news-section" style="margin-left: 12px; margin-right: 12px; border-radius: 12px;">
    <div style="padding-top:6px">
      <ion-segment value="middle" [(ngModel)]="selectedTab" (ionChange)="segmentChanged()" [disabled]="loading">
        <ion-segment-button value="left">
          <ion-label>Left</ion-label>
        </ion-segment-button>
        <ion-segment-button value="middle">
          <ion-label>Middle</ion-label>
        </ion-segment-button>
        <ion-segment-button value="right">
          <ion-label>Right</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div style="margin-top:15px; border-radius: 12px; margin-left: 12px; margin-right: 12px">
      <ion-label class="news-articles-label"> {{getSelectedTopic() | titlecase}} News Articles</ion-label>
      <!--<div class="card-container">
        <ion-card *ngFor="let item of items" class="content-card" (click)="readArticles.push(item.id)"
        [routerLink]="['/news-article/' + item.id + '/' + selectedTab + '-articles']" [state]="{ article: item }">
          <img [src]="getImage(item)" (error)="onImgError(item, $event)">
          <ion-card-content>
            <ion-label class="article-data-thumb">
              <h3 style="white-space: initial;" [ngStyle]="{'font-weight': !isRead(item.id) ? 'bold': 'normal'}">{{item.title}}</h3>
              <p>{{item.siteName}}</p>
              <p>{{item.date?.toDate() | date:'mediumDate'}}</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </div>-->
     <ion-list lines="none" *ngIf="!loading">
        <ion-item class="news-link"
          *ngFor="let item of items; let i = index;" [id]="i === 0 ? 'introjs-step5' : ''"
          (click)="readArticles.push(item.id); onArticleClick(item)"
          [routerLink]="(item.link.includes('nytimes.com') || item.link.includes('wsj.com')) ? [] : ['/news-article/' + item.id + '/' + selectedTab + '-articles']" [state]="{ article: item }">
          <ion-thumbnail slot="start">
            <img [src]="getImage(item)" (error)="onImgError(item, $event)">
          </ion-thumbnail>
          <ion-label class="article-data-thumb">
            <h3 style="white-space: initial;" [ngStyle]="{'font-weight': !isRead(item.id) ? 'bold': 'normal'}">{{item.title}}</h3>
            <p>{{item.siteName}}</p>
            <p>{{item.date?.toDate() | date:'mediumDate'}}</p>
          </ion-label>
        </ion-item>

        <p *ngIf="items.length === 0 && !loading">No Articles Found</p>
      </ion-list>

      <div *ngIf="loading" [ngClass]="{'loading': !expanded, 'loading-exp': expanded}">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </div>
  </div>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filters</ion-title>
          <ion-progress-bar *ngIf="requestNewsSourceLoading" type="indeterminate"></ion-progress-bar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1" (click)="closeAndSave()" text="">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item-divider>
            <ion-label>
              Request News Source
            </ion-label>
          </ion-item-divider>
          <ion-item id="introjs-filters2">
            <ion-input [(ngModel)]="requestedNewsSource" label="Source" placeholder="Enter a news source"></ion-input>
            <ion-button (click)="requestNewsSource()">Request</ion-button>
          </ion-item>
          <ion-item-divider>
            <ion-label>
              Left Filters
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let filter of leftFilters; let i = index">
            <ion-label class="ion-text-wrap">{{filter.label | split}}</ion-label>
            <ion-checkbox (ionChange)="onLeftChanged($event, i)" [checked]="filter.on"></ion-checkbox>
          </ion-item>
          <ion-item-divider>
            <ion-label>
              Middle Filters
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let filter of middleFilters; let i = index">
            <ion-label class="ion-text-wrap">{{filter.label | split}}</ion-label>
            <ion-checkbox (ionChange)="onMiddleChanged($event, i)" [checked]="filter.on"></ion-checkbox>
          </ion-item>
          <ion-item-divider>
            <ion-label>
              Right Filters
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let filter of rightFilters; let i = index">
            <ion-label class="ion-text-wrap">{{filter.label | split}}</ion-label>
            <ion-checkbox (ionChange)="onRightChanged($event, i)" [checked]="filter.on"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>