.search {
    --color: black;
    --placeholder-color: #d3d3d3;
    --background: white;
    --placeholder-opacity: 1;
    --icon-color: #d3d3d3;
    border-radius: 25px;
}

ion-content {
    --background: #f3f3f3;
}

ion-avatar {
    margin-top: 15px;
}

.show-gradient {
    --background: #f3f3f3;
}

ion-toolbar {
    --background: #ffffff;
    --min-height: 75px;

    ion-title {
        font-weight: bold;
    }
}

.label {
    font-weight: bold;
    margin: 15px;
    margin-top: 25px;
}

.no-border {
    --border-width: 0;
    --border-style: hidden;
}

.center {
    display: block;
    margin: auto;
}

ion-segment {
    width: 95%;
    margin: auto;
    --background: white;
    margin-top: 15px;
    --border: none;

    ion-segment-button {
        --background: white;
        --background-color: white;
        --background-checked: white;
        --background-focused: white;
        --color: #bdbdbd;
        --color-checked: #26497e;
        --color-focused: white;
        --border-width: 0px;
        --indicator-color: transparent;
        --indicator-box-shadow: 0 3px 0px -2px #26497e;
    }
}

.center-card {
    display: flex;
    justify-content: center;
}

.news-section {
    background-color: #ffffff;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
}

.news-articles-label {
    color: black;
    font-weight: bold;
    margin: 12px;
}

.news-bg {
    --border-width: 0;
    --color: white;
    --border-radius: 12px;
    --inner-padding-top: 16px;
    --inner-padding-bottom: 16px;
    display: inherit;
    margin-bottom: 50px;
}

.vertical-center {
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
  }
.news-bg-nobackground {
    --border-width: 0;
    --color: white;
    --border-radius: 12px;
    --inner-padding-top: 16px;
    --inner-padding-bottom: 16px;
    display: inherit;
    margin-bottom: 50px;
}

.article-data {
    min-height: 170px;
    max-height: 170px;
    padding-top: 85px;
}

.article-data-thumb {
    p {
        color: black;
    }
}

.news-link {
    ion-thumbnail {
        max-width: 65px;
        max-height: 65px;
        min-width: 65px;
        min-height: 65px;
    }
}

@media (max-width: 768px) {
    .action-btn {
        position: absolute;
        top: 2%;
        right: 50%;
        --background: white;
        --color: red;
    }

    .stars-btn {
        position: absolute;
        top: 0;
        right: 1%;

        --background: white;
        --color: rgb(194, 165, 3);

        ion-icon {
            color: rgb(194, 165, 3);
        }
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .action-btn {
        position: absolute;
        top: 2%;
        right: 25%;
        --background: white;
        --color: red;
    }

    .stars-btn {
        position: absolute;
        top: 0;
        right: 1%;

        --background: white;
        --color: rgb(194, 165, 3);

        ion-icon {
            color: rgb(194, 165, 3);
        }
    }
}

ion-list {
    border-radius: 12px;
    background: white;
}

ion-label p {
    color: white;
}

.card {
    height: 75px;
    width: 75px;
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
}

.loading-exp {
    position: absolute;
    left: 50%;
    top: 80%;
}

.gunInactive {
    --background: #26497e;
}
.gunActive {
    --background: #5083d0;
}

.medInactive {
    --background: #26497e;
}
.medActive {
    --background: #5083d0;
}

.laborInactive {
    --background: #26497e;
}
.laborActive {
    --background: #5083d0;
}

.moneyInactive {
    --background: #26497e;
}
.moneyActive {
    --background: #5083d0;
}

.poInactive {
    --background: #26497e;
}
.poActive {
    --background: #5083d0;
}

.hempInactive {
    --background: #26497e;
}
.hempActive {
    --background: #5083d0;
}

.card-icon {
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
}