.search {
    --color: black;
    --placeholder-color: #d3d3d3;
    --background: white;
    --placeholder-opacity: 1;
    --icon-color: #d3d3d3;
    padding: 0px;
    height: 38px;
}

ion-content {
    --background: #f3f3f3;
}

.show-gradient {
    --background: #f3f3f3;
}

ion-toolbar {
    --background: #ffffff;
    --min-height: 75px;

    ion-title {
        font-weight: bold;
    }
}

.label {
    font-weight: bold;
    margin: 15px;
    margin-top: 25px;
}

.no-border {
    --border-width: 0;
    --border-style: hidden;
}

.center {
    display: block;
    margin: auto;
}

ion-segment {
    width: 95%;
    margin: auto;
    --background: white;
    margin-top: 15px;
    --border: none;

    ion-segment-button {
        --background: white;
        --background-color: white;
        --background-checked: white;
        --background-focused: white;
        --color: #bdbdbd;
        --color-checked: #26497e;
        --color-focused: white;
        --border-width: 0px;
        --indicator-color: transparent;
        --indicator-box-shadow: 0 3px 0px -2px #26497e;
    }
}

.center-card {
    display: flex;
    justify-content: center;
}

.news-section {
    background-color: #ffffff;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
}

.news-articles-label {
    color: black;
    font-weight: bold;
    margin: 12px;
}

.article-data-thumb {
    p {
        color: black;
    }
}

.news-link {
    ion-thumbnail {
        max-width: 65px;
        max-height: 65px;
        min-width: 65px;
        min-height: 65px;
    }
}

ion-list {
    border-radius: 12px;
    background: white;
}

ion-label p {
    color: white;
}

.card {
    height: 75px;
    width: 75px;
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
}

.loading-exp {
    position: absolute;
    left: 50%;
    top: 80%;
}

.topic-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.topic-card {
    margin: 0px;
    padding: 3px 7px 3px 7px;
    font-size: medium;
    box-shadow: 2px 2px 4px rgb(106, 106, 106);
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}
  
.scroll-content {
    display: inline-flex;
}

.scroll-content ion-card {
    margin-left: 4px;
}

.topic-not-checked {
    background-color: rgba(219, 20, 27, 0.73);
    color: #fff;
    margin: 2px 4px 2px 4px;
    padding: 1px 3px 1px 3px;
    transition: all 0.15s ease-in-out;
}

.topic-checked {
    background-color: rgb(59, 30, 190);
    color: #fff;
    transition: all 0.15s ease-in-out;
}

.toolbar-btns {
    height: 32px;
    width: 32px;
}

@media (prefers-color-scheme: dark) {
    .search {
        --color: #f0f0f0;
        --background: black;
    }
    ion-content {
        --background: #1d1d1d;
    }
    ion-title {
        color: #f0f0f0;
    }
    .show-gradient {
        --background: #1d1d1d;
    }
    ion-toolbar {
        --background: #1d1d1d;
    }
    .topic-label {
        color: #f0f0f0;
    }
    ion-segment {
        --background: #1d1d1d;
    
        ion-segment-button {
            --background: #1d1d1d;
            --background-color: #1d1d1d;
            --background-checked: #1d1d1d;
            --background-focused: #1d1d1d;
            --color: #f0f0f0;
            --color-checked: #26497e;
            --color-focused: #1d1d1d;
            --indicator-box-shadow: 0 3px 0px -2px #26497e;
        }
    }
    .news-section {
        background-color: #1d1d1d;
    }
    .news-articles-label {
        color: #f0f0f0;
    }
    ion-list {
        background: #1d1d1d;
    }
    ion-item-divider {
        background-color: #191919;
        color: #f0f0f0;
    }
    ion-item {
        --background: #191919;
        --color: #f0f0f0;
    }
    .news-link {
        --background: #191919;
    }
    .article-data-thumb {
        h3 {
            color: #f0f0f0;
        }
        p {
            color: #f0f0f0;
        }
    }
    ion-card {
        --background: #2f2f2f;
        --color: #f0f0f0;
    }
    .topic-card {
        box-shadow: 2px 2px 4px rgb(45, 45, 45);
    }
    .topic-not-checked {
        background-color: rgba(219, 20, 27, 0.5);
        color: #fff;
        margin: 2px 4px 2px 4px;
        padding: 1px 3px 1px 3px;
        transition: all 0.15s ease-in-out;
    }
    
    .topic-checked {
        background-color: rgb(45, 22, 148);
        color: #fff;
        transition: all 0.15s ease-in-out;
    }

    p {
        color: #f0f0f0;
    }
}