ion-content {
  --background: #f3f3f3;
}
ion-avatar {
  margin-top: 15px;
}

.show-gradient {
  --background: #f3f3f3;
}

ion-toolbar {
  --background: #ffffff;
  --min-height: 75px;
  ion-title {
    font-weight: bold;
  }
}

.label {
  font-weight: bold;
  margin: 15px;
  margin-top: 25px;
}

.no-border {
  --border-width: 0;
  --border-style: hidden;
}
.center {
  display: block;
  margin: auto;
}

ion-segment {
  width: 95%;
  margin: auto;
  --background: white;
  margin-top: 15px;
  --border: none;
  ion-segment-button {
    --background: white;
    --background-color: white;
    --background-checked: white;
    --background-focused: white;
    --color: #bdbdbd;
    --color-checked: #26497e;
    --color-focused: white;
    --border-width: 0px;
    --indicator-color: transparent;
    --indicator-box-shadow: 0 3px 0px -2px #26497e;
  }
}

.news-section {
  background-color: #ffffff;
  height: 100vh;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 12px;
}

.news-articles-label {
  color: black;
  margin: 12px;
}

.news-bg {
  --background: url("https://assets.digitalocean.com/labs/images/community_bg.png");
  --border-width: 0;
  --color: white;
  --border-radius: 12px;
  --inner-padding-top: 16px;
  --inner-padding-bottom: 16px;
  display: inherit;
  margin-bottom: 50px;
}

.article-data {
  min-height: 170px;
  max-height: 170px;
  padding-top: 85px;
}
@media (max-width: 768px) {
  .action-btn {
    position: absolute;
    top: 2%;
    right: 50%;
    --background: white;
    --color: red;
  }

  .stars-btn {
    position: absolute;
    top: 0;
    right: 1%;

    --background: white;
    --color: rgb(194, 165, 3);
    ion-icon {
      color: rgb(194, 165, 3);
    }
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .action-btn {
    position: absolute;
    top: 2%;
    right: 25%;
    --background: white;
    --color: red;
  }

  .stars-btn {
    position: absolute;
    top: 0;
    right: 1%;

    --background: white;
    --color: rgb(194, 165, 3);
    ion-icon {
      color: rgb(194, 165, 3);
    }
  }
}
ion-list {
  border-radius: 12px;
  background: white;
}

ion-label p {
  color: white;
}

.avatar {
  width: 125px;
  height: 125px;
  position: absolute;
  top: 175px;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    //transform: rotate(90deg);
  }
}

.background {
  background-color: white;
  height: 100vh;
  margin-top: 120px;
}

.user-name {
  text-align: center;
  h3,
  h4 {
    padding-top: 60px;
  }
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 20px;
  }

  ion-button {
    margin: 0px 5px 0px 5px;
    height: 30px;
    font-size: 18px;
  }
}

.summary-card {
  padding: 10px;

  ion-card-header {
    padding-top: 5px;
  }

  ion-card-title {
    font-size: 18px;
  }
}

.source-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 20px;
    width: 25px;
    margin: 5px;
  }

  P {
    margin: 0px;
  }

  a {
    margin-left: auto;
  }
}

.article-img {
  border-radius: 10px;
}

.share-btn-container {
  display: flex;
  justify-content: flex-end;
}

.share-btn {
  margin: 0px;
}

@media (prefers-color-scheme: dark) {
  ion-content {
    --background: #1d1d1d;
  }
  ion-avatar {
    margin-top: 15px;
  }
  
  .show-gradient {
    --background: #1d1d1d;
  }
  
  ion-toolbar {
    --background: #191919;
    --color: #f0f0f0;

  }
  .background {
    background-color: #1d1d1d;
  }
  .user-name {
    h3, h4 { color: #f0f0f0; }
  }
  ion-item {
    --background: #191919;
    --color: #f0f0f0;
  }
  ion-card {
    --background: #191919;
  }
  ion-card-title {
    --color: #f0f0f0;
  }
  ion-card-subtitle {
    --color: #f0f0f0;
  }
  ion-card-content {
    color: #f0f0f0;
  }
  ion-list {
    background-color: #1d1d1d;
  }

  .source-container {
    a { color: #DC151C; }
  }
}