<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start" [hidden]="!isDesktop">
      <ion-button routerLink="../tab1">
        My Feed
      </ion-button>
      <ion-button routerLink="../tab2">
        Trending
      </ion-button>
    </ion-buttons>
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="avatar">
    <img
      [src]="auth.currentUser.photoURL ? auth.currentUser.photoURL : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"
      id="profile-image">
  </ion-avatar>
  <div class="background">
    <span class="user-name">
      <h4>
        {{auth.currentUser.displayName}}
        <br>
        {{auth.currentUser.email}}
      </h4>
    </span>
    <ion-item button detail id="open-profile-modal">
      <ion-label>Update Profile</ion-label>
    </ion-item>
    <ion-item button detail id="open-bookmark-modal">
      <ion-label>Bookmarks</ion-label>
    </ion-item>
    <ion-item button detail id="open-read-articles-modal" (click)="getReadArticles()">
      <ion-label>Read Articles</ion-label>
    </ion-item>
    <ion-item *ngIf="isAdmin" button detail id="open-approve-news-sources" (click)="getRequestedNewsSources()">
      <ion-label>Approve News Sources</ion-label>
    </ion-item>
    <ion-item button detail id="settings-modal">
      <ion-label>
        Settings
      </ion-label>
    </ion-item>
    <ion-item button detail (click)="logOut()">
      <ion-label>
        Log Out
      </ion-label>
    </ion-item>
  </div>
  <ion-modal #modal trigger="open-profile-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button (click)="modal.dismiss()" defaultHref="/tabs/tab3" text="">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>User Details</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAndSave()">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Display Name</ion-label>
          <ion-input [(ngModel)]="displayName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [value]="auth.currentUser.email" disabled></ion-input>
        </ion-item>
        <ion-item button detail (click)="updateProfilePhoto()">
          <ion-label>Update Profile Photo</ion-label>
        </ion-item>
        <ion-item button detail (click)="deleteAccount()">
          <ion-label>Delete Account</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modalTwo trigger="open-bookmark-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button (click)="modalTwo.dismiss()" defaultHref="/tabs/tab3" text="">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Bookmarks</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of favorites" [routerLink]="['/news-article/' + item.id + '/' + item.type]"
            (click)="modalTwo.dismiss()">
            <ion-label>
              <h3 style="font-weight: bold; white-space: initial;">{{item.title}}</h3>
              <h6>{{item.siteName}}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>    
  <!--READ ARTICLES MODAL-->
  <ion-modal #modalFour trigger="open-read-articles-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button (click)="modalFour.dismiss()" defaultHref="/tabs/tab3" text="">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Read Articles</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of readArticles" [routerLink]="['/news-article/' + item.id + '/' + item.type]"
            (click)="modalFour.dismiss()">
            <ion-label>
              <h3 style="font-weight: bold; white-space: initial;">{{item.title}}</h3>
              <h6>{{item.siteName}}</h6>
              <h6>{{ (item.date.seconds * 1000) | date:'yyyy-MM-dd' }}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal *ngIf="isAdmin" #modalFive trigger="open-approve-news-sources">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button (click)="modalFive.dismiss()" defaultHref="/tabs/tab3" text="">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Approve News Sources</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of requestedNewsSources">
            <ion-list>
              <ion-item>
                <h6 style="white-space: initial;"><b>URL: </b><span style="text-decoration: underline;" (click)="openURL(item.url)">{{item.url}}</span></h6>
              </ion-item>
              <ion-item>
                <h6><b>User requesting: </b>{{item.user}}</h6>
              </ion-item>
              <ion-item>
                <h6><b>Date of request: </b>{{ (item.timestamp.seconds * 1000) | date:'yyyy-MM-dd' }}</h6>
              </ion-item>
            
              <ion-item>
                <ion-select label="sourceBias" placeholder="Bias: Left/Middle/Right" [(ngModel)]="item.bias">
                  <ion-select-option value="left">Left</ion-select-option>
                  <ion-select-option value="middle">Middle</ion-select-option>
                  <ion-select-option value="right">Right</ion-select-option>
                </ion-select>
              </ion-item>
            
              <ion-item>
                <ion-input label="imageUrl" placeholder="Source Image URL" [(ngModel)]="item.imageUrl"></ion-input>
              </ion-item>

              <ion-button (click)="approveNewsSource(item)">Approve</ion-button>
              <ion-button (click)="deleteNewsSource(item)">Delete</ion-button>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalThree trigger="settings-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button (click)="modalThree.dismiss()" defaultHref="/tabs/tab3" text="">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Notifications</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Daily Reminders</ion-label>
                <ion-toggle [(ngModel)]="reminders" (ionChange)="updateRemindersSetting($event)"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>Replies</ion-label>
                <ion-toggle [(ngModel)]="replies" (ionChange)="updateRepliesSetting($event)"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Feed</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Show Read Articles</ion-label>
                <ion-toggle [(ngModel)]="showReadArticles" (ionChange)="updateShowReadArticles($event)"></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>