<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title> My Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="avatar">
    <img
      [src]="auth.currentUser.photoURL ? auth.currentUser.photoURL : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"
      id="profile-image"
    />
  </ion-avatar>
  <div class="background">
    <span class="user-name">
      <h4>
        {{auth.currentUser.displayName}}
        <br />
        {{auth.currentUser.email}}
      </h4>
    </span>
    <ion-item button detail id="open-premium-modal">
      <ion-label>Purchase Premium</ion-label>
    </ion-item>
    <ion-item button detail id="open-profile-modal">
      <ion-label>Update Profile</ion-label>
    </ion-item>
    <ion-item button detail id="open-bookmark-modal">
      <ion-label *ngIf="loadingBookmarks"
        >Bookmarks (loading bookmarks...)</ion-label
      >
      <ion-label *ngIf="!loadingBookmarks"
        >Bookmarks ({{favorites.length}})</ion-label
      >
    </ion-item>
    <ion-item button detail id="open-gptbookmark-modal">
      <ion-label *ngIf="loadingBookmarks"
        >GPT Bookmarks (loading bookmarks...)</ion-label
      >
      <ion-label *ngIf="!loadingBookmarks"
        >GPT Bookmarks ({{favoriteSummaries.length}})</ion-label
      >
    </ion-item>
    <ion-item button detail id="open-read-articles-modal">
      <ion-label *ngIf="loadingReadArticles"
        >Read Articles (loading read articles...)</ion-label
      >
      <ion-label *ngIf="!loadingReadArticles"
        >Read Articles ({{readArticlesAmount}})</ion-label
      >
    </ion-item>
    <ion-item
      *ngIf="isAdmin"
      button
      detail
      id="open-approve-news-sources"
      (click)="getRequestedNewsSources()"
    >
      <ion-label>Approve News Sources</ion-label>
    </ion-item>
    <ion-item
      *ngIf="isAdmin"
      button
      detail
      id="open-remove-news-sources"
      (click)="getNewsSources()"
    >
      <ion-label>Remove News Sources</ion-label>
    </ion-item>
    <ion-item button detail id="settings-modal">
      <ion-label> Notifications </ion-label>
    </ion-item>
    <ion-item button detail id="about-us-modal">
      <ion-label> About Us </ion-label>
    </ion-item>
    <ion-item button detail id="faq-modal">
      <ion-label> FAQ </ion-label>
    </ion-item>
    <ion-item button detail (click)="logOut()">
      <ion-label> Log Out </ion-label>
    </ion-item>
  </div>
  <ion-modal #modal trigger="open-profile-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modal.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>User Details</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAndSave()">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="stacked">Display Name</ion-label>
          <ion-input [(ngModel)]="displayName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [value]="auth.currentUser.email" disabled></ion-input>
        </ion-item>
        <ion-item button detail (click)="updateProfilePhoto()">
          <ion-label>Update Profile Photo</ion-label>
        </ion-item>
        <ion-item button detail (click)="deleteAccount()">
          <ion-label>Delete Account</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal #modalTwo trigger="open-bookmark-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalTwo.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Bookmarks</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h3 *ngIf="favorites.length === 0" style="text-align: center">
          No bookmarked articles...
        </h3>
        <div *ngIf="favorites.length === 0" class="cta-container">
          <span>Click </span>
          <ion-button
            class="toolbar-btns"
            routerLink="../tab2"
            (click)="modalTwo.dismiss()"
            fill="outline"
            >here</ion-button
          >
          <span> to find a article to bookmark!</span>
        </div>
        <ion-list>
          <ion-item
            *ngFor="let item of favorites"
            [routerLink]="['/news-article/' + item.id + '/' + item.type]"
            (click)="modalTwo.dismiss()"
          >
            <ion-label>
              <h3 style="font-weight: bold; white-space: initial">
                {{item.title}}
              </h3>
              <h6>{{item.siteName}}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!--READ ARTICLES MODAL-->
  <ion-modal #modalFour trigger="open-read-articles-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalFour.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Read Articles</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!--Display text and CTA when there are no read articles-->
        <h3 *ngIf="readArticles.length === 0" style="text-align: center">
          No read articles...
        </h3>
        <div *ngIf="readArticles.length === 0" class="cta-container">
          <span>Click </span>
          <ion-button
            class="toolbar-btns"
            routerLink="../tab2"
            (click)="modalFour.dismiss()"
            fill="outline"
            >here</ion-button
          >
          <span> to start reading!</span>
        </div>

        <ion-list>
          <ion-item
            *ngFor="let item of readArticles"
            [routerLink]="['/news-article/' + item.id + '/' + item.type]"
            (click)="modalFour.dismiss()"
          >
            <ion-label>
              <h3 style="font-weight: bold; white-space: initial">
                {{item.title}}
              </h3>
              <h6>{{item.siteName}}</h6>
              <h6>{{ (item.date.seconds * 1000) | date:'yyyy-MM-dd' }}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal *ngIf="isAdmin" #modalFive trigger="open-approve-news-sources">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalFive.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Approve News Sources</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of requestedNewsSources">
            <ion-list>
              <ion-item>
                <label>URL:&nbsp;</label
                ><input type="text" [(ngModel)]="item.url" />
              </ion-item>
              <ion-item>
                <h6><b>User requesting: </b>{{item.user}}</h6>
              </ion-item>
              <ion-item>
                <h6>
                  <b>Date of request: </b>{{ (item.timestamp.seconds * 1000) |
                  date:'yyyy-MM-dd' }}
                </h6>
              </ion-item>

              <ion-item>
                <ion-select
                  label="sourceBias"
                  placeholder="Bias: Left/Middle/Right"
                  [(ngModel)]="item.bias"
                >
                  <ion-select-option value="left">Left</ion-select-option>
                  <ion-select-option value="middle">Middle</ion-select-option>
                  <ion-select-option value="right">Right</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-input
                  label="imageUrl"
                  placeholder="Source Image URL"
                  [(ngModel)]="item.imageUrl"
                ></ion-input>
              </ion-item>

              <ion-button (click)="approveNewsSource(item)">Approve</ion-button>
              <ion-button (click)="deleteNewsSource(item, true)"
                >Delete</ion-button
              >
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal *ngIf="isAdmin" #modalFive trigger="open-remove-news-sources">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalFive.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Remove News Sources</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of newsSources">
            <h3>{{item.url}}</h3>
            <ion-button slot="end" (click)="removeNewsSource(item)"
              >Remove</ion-button
            >
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalThree trigger="settings-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalThree.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Notifications</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Daily Reminders</ion-label>
                <ion-toggle
                  [(ngModel)]="reminders"
                  (ionChange)="updateRemindersSetting($event)"
                ></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>Daily Random Article</ion-label>
                <ion-toggle
                  [(ngModel)]="randomArticle"
                  (ionChange)="updateRandomArticleSetting($event)"
                ></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>Daily GPT Summaries</ion-label>
                <ion-toggle
                  [(ngModel)]="GPTSummaries"
                  (ionChange)="updateGPTSummariesSetting($event)"
                ></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label>Replies</ion-label>
                <ion-toggle
                  [(ngModel)]="replies"
                  (ionChange)="updateRepliesSetting($event)"
                ></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Feed</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Show Read Articles</ion-label>
                <ion-toggle
                  [(ngModel)]="showReadArticles"
                  (ionChange)="updateShowReadArticles($event)"
                ></ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalSix trigger="open-gptbookmark-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalSix.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Bookmarks</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <h3 *ngIf="favoriteSummaries.length === 0" style="text-align: center">
          No bookmarked articles...
        </h3>
        <div *ngIf="favoriteSummaries.length === 0" class="cta-container">
          <span>Click </span>
          <ion-button
            class="toolbar-btns"
            routerLink="../tab4"
            (click)="modalSix.dismiss()"
            fill="outline"
            >here</ion-button
          >
          <span> to find a article to bookmark!</span>
        </div>
        <ion-list>
          <ion-card
            *ngFor="let summary of favoriteSummaries"
            class="summary-card"
          >
            <div class="share-btn-container">
              <ion-button
                fill="clear"
                class="share-btn"
                (click)="share(summary)"
              >
                <ion-icon name="share-social-outline"></ion-icon>
              </ion-button>
            </div>

            <ion-card-header>
              <ion-card-title>{{ summary.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content> {{ summary.summary }} </ion-card-content>

            <img
              *ngIf="summary.image"
              class="article-img"
              [src]="getImage(summary)"
              alt="Article image"
            />
            <!--<ion-button fill="clear">Remove</ion-button>-->
            <div class="source-container">
              <img [src]="getSourceImage(summary)" alt="summary source image" />
              <p>{{summary.source}}</p>

              <a
                [routerLink]="(summary.link.includes('nytimes.com') || summary.link.includes('wsj.com')) ? [] : ['/news-article/' + summary.id + '/trending-articles']"
                (click)="onArticleClick(summary);"
              >
                Read more</a
              >
            </div>
          </ion-card>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalSeven trigger="open-premium-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalSeven.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>Premium</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle> Purchase premium monthly! </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Subscribing to premium unlocks the following:</p>
            <ul>
              <li>Removes all Ads</li>
              <li>Provides ability to summarize any article using GPT</li>
            </ul>
            <a
              href="https://www.freeprivacypolicy.com/live/f2f5fd2e-0c58-4cf6-beb8-b32f5690747f"
              target="_blank"
              >Privacy Policy</a
            >
            <br />
            <a
              href="https://www.freeprivacypolicy.com/live/65c3bed6-6f9b-43a7-8267-9948f8b7d6a8"
              target="_blank"
              >Terms of Use</a
            >
            <br /><br />
            <ion-button expand="full" (click)="purchase(store.products[0])"
              >Subscribe for {{store.products[0].pricing.price}} /
              month</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!--About Us Modal-->
  <ion-modal #modalEight trigger="about-us-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalEight.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>About Us</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!--FAQ Modal-->
  <ion-modal #modalNine trigger="faq-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button
              (click)="modalNine.dismiss()"
              defaultHref="/tabs/tab3"
              text=""
            >
              <ion-icon name="arrow-back"></ion-icon>
            </ion-back-button>
          </ion-buttons>
          <ion-title>FAQ</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-card>
          <ion-card-content>
            Welcome to Unbiased Break! We're here to guide and enhance your experience with our news app. If your query isn't addressed below, our dedicated support team is always available to assist you.  
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>General FAQs</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <b>1. What is Unbiased Break?</b><br>
            Unbiased Break is a transformative news app aiming to reshape your news-reading habits. Key features encompass:
            <ul>
              <li>ChatGPT Integration: A standout feature that enables article summaries using ChatGPT. This technology furnishes concise overviews of news, allowing you to focus on relevant articles and streamline your reading time.</li>
              <li>Customized News Feed: Carve out a tailored news landscape by selecting from an array of perspectives.</li>
              <li>Bookmarking: Make sure you can always revisit your favorite articles using our bookmark feature.</li>
            </ul>
            <br>

            <b>2. How do I download Unbiased Break?</b><br>
            Find us on the App Store (iOS) or the Google Play Store (Android). Just type "Unbiased Break" in the search bar and proceed with the installation steps.
            <br>
            <br>

            <b>3. Is Unbiased Break free to use?</b><br>
            Absolutely! While Unbiased Break offers free access, our premium subscription is packed with perks:
            <ul>
              <li>Enhanced Summarization with ChatGPT: Delve deeper into articles with detailed summarizations.</li>
              <li>Ad-Free Experience: Dive into a reading experience devoid of ads.</li>
              <li>Offline Functionality: We're prepping an offline reading feature, so stay tuned!</li>
            </ul>
            <br>

            <b>4. How do I see my bookmarked articles?</b><br>
            <ul>
              <li>Ensure you've registered an account with Unbiased Break.</li>
              <li>Navigate to your in-app profile.</li>
              <li>Once in your profile, tap on the "Bookmarks" tab.</li>
            </ul>
            Here, you'll find a curated list of articles you've earmarked for future perusal.
            <br>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Getting started</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <b>5. How can I customize my news feed?</b>
            <ul>
              <li>Head to the "Feed" tab.</li>
              <li>Opt for "Edit Topics" to refine your feed.</li>
              <li>Add or eliminate topics/subscriptions to align with your preferences.</li>
            </ul>
            <br>

            <b>6.	What is the trending tab for?</b><br>
            The "Trending" hub casts a spotlight on the most buzzworthy global news, ensuring you're abreast of the latest and most impactful stories.
            <br>
            <br>

            <b>7.	How can I filter news sources?</b><br>
            <ul>
              <li>Access the "Feed" section.</li>
              <li>Click on the filter icon situated in the top right.</li>
              <li>Modify news sources to suit your taste.</li>
            </ul>
            <br>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Content and Sources</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <b>8.	How do you ensure unbiased news coverage?</b><br>
            Diversity in news presentation is our pledge. We enable users to peruse a range of viewpoints, cultivating an atmosphere of unbiased news consumption.
            <br>
            <br>

            <b>9. Are you the arbitrator of truth?</b><br>
            We step back from that role. Our ethos is rooted in delivering a plethora of news perspectives and entrusting our users to critically analyze and form well-rounded opinions.
            <br>
            <br>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact, Support, and Feedback</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <b>10. How can I contact Unbiased Break support?</b><br>
            Reach out via email at <a href="mailto:info@votercertified.com">info@votercertified.com</a>. Also, keep an eye out for our soon-to-launch in-app reporting tool.
            <br>
            <br>

            <b>11. How can I provide feedback or suggestions for Unbiased Break?</b><br>
            Your insights shape us! Channel your feedback and recommendations to <a href="mailto:info@votercertified.com">info@votercertified.com</a>.
            <br>
            <br>

            <b>12. How can I leave a review for Unbiased Break?</b><br>
            Let the world know your thoughts! Android aficionados can head to the Google Play Store, while Apple enthusiasts should visit the App Store. Once there, search "Unbiased Break" and opt to pen a review. We value every piece of feedback!
            <br>
            <br>

            <b>13. How do you manage data privacy?</b><br>
            Your privacy is our priority. Dive into our in-depth Privacy Policy in-app to discover how we handle data from usage to protection.
            <br>
            <br>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title>ChatGPT Integration</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <b>What does the ChatGPT integration do in Unbiased Break?</b><br>
            Our integration with ChatGPT elevates your news experience. ChatGPT technology assists in providing concise article summaries, enabling users to quickly grasp the essence of news articles without delving deep. This integration is instrumental in catering to users who wish to be informed swiftly without wading through extensive articles.
            <br>
            <br>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
