<ion-content>
  <div style="margin-top: 175px">
    <ion-card>
      <ion-card-content>
        <ion-item *ngIf="!isLogin">
          <ion-label position="stacked">Username</ion-label>
          <ion-input [(ngModel)]="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="{{ showPassword ? 'text' : 'password' }}"
            [(ngModel)]="password"
          ></ion-input>
          <ion-icon
            slot="end"
            name="{{ showPassword ? 'eye-off' : 'eye' }}"
            (click)="togglePasswordVisibility()"
          ></ion-icon>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col class="center-btn"
              ><ion-button color="light" shape="round" [routerLink]="['..']"
                >Cancel</ion-button
              ></ion-col
            >
            <ion-col class="center-btn">
              <ion-button
                color="primary"
                shape="round"
                (click)="isLogin ? login() : createAccount()"
              >
                <span *ngIf="isLogin">Login</span>
                <span *ngIf="!isLogin">Create</span>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              *ngIf="isLogin"
              style="
                display: flex;
                flex-direction: row;
                justify-content: center;
              "
              ><a (click)="forgotPassword()">Reset Password</a></ion-col
            >
          </ion-row>
        </ion-grid>
        <div style="text-align: center">
          <ion-button
            color="primary"
            shape="round"
            (click)="loginWithGoogle()"
            >
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Google
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
