<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Topics
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header color="primary" class="topic-subtitle">
      <ion-card-subtitle class="topic-subtitle-text">
        Your Topics
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none" class="topic-container">
        <ion-item *ngFor="let topic of topics; let i = index">{{ topic.display | titlecase }}<ion-icon name="trash" *ngIf="!topic.checked" (click)="removeTopic(topic)" class="topic-remove-icon" slot="end"></ion-icon><ion-toggle slot="end" [checked]="topic.checked"
            (ionChange)="toggleChanged(i, $event)"></ion-toggle>
        </ion-item>
        <ion-searchbar class="search" animated="true" placeholder="Type to find new topics..." [(ngModel)]="newTopic" (ionFocus)="isAdding = true" (ionBlur)="isAdding = false" (ionChange)="showPopup($event)" debounce="750"></ion-searchbar>
      </ion-list>
      <p class="topic-note" *ngIf="isAdding">Note: Newly added topics can sometimes take up to 24 hours to populate.</p>
    </ion-card-content>
  </ion-card>
</ion-content>