.topic-remove-icon {
    color: rgba(255, 0, 0, 0.686);
    transition: transform 0.2s;
}

.topic-remove-icon:hover {
    transform: scale(1.2);
}

.search {
    --placeholder-opacity: 1;
}

.topic-subtitle {
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px gray; 
    padding: 10px;
}

.topic-subtitle-text {
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.topic-container {
    box-shadow: 0px 0px 10px lightgray; 
    border-radius: 5px;
}

.topic-note {
    margin-top: 8px;
}

@media (prefers-color-scheme: dark) {
    ion-toolbar {
        --background: #1d1d1d;
    }
    ion-title {
        --color: #f0f0f0;
    }
    ion-content {
        --background: #1d1d1d;
    }
    ion-card {
        --background: #292929;
    }
    ion-list {
        --background: #292929;
    }
    ion-item {
        --background: #292929;
        --color: #f0f0f0;
    }
    ion-searchbar {
        --background: #292929;
        --color: #f0f0f0;
    }
    ion-list {
        background: #292929 !important;
    }
    .topic-subtitle {
        box-shadow: none;
    }
    .topic-container {
        box-shadow: none;
    }
    .topic-note {
        color: #f0f0f0;
    }
}

