.topic-remove-icon {
    color: rgba(255, 0, 0, 0.686);
    transition: transform 0.2s;
}

.topic-remove-icon:hover {
    transform: scale(1.2);
}

.search {
    --placeholder-opacity: 1;
}

.topic-subtitle {
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px lightgray; 
    padding: 10px;
}

.topic-subtitle-text {
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

.topic-container {
    box-shadow: 0px 0px 10px lightgray; 
    border-radius: 5px;
}

