<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Topics
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Your Topics
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let topic of topics; let i = index"><ion-icon name="trash" *ngIf="!topic.checked" (click)="removeTopic(topic)" class="topic-remove-icon"></ion-icon>{{capitalizeWords(topic.display)}}<ion-toggle slot="end" [checked]="topic.checked"
            (ionChange)="toggleChanged(i, $event)"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="isAdding">
          <ion-input placeholder="Type to find topics" [(ngModel)]="newTopic" (ionChange)="showPopup($event)" debounce="750"></ion-input>
        </ion-item>
        <ion-item button *ngIf="!isAdding" (click)="isAdding = true;">+ Add Topic</ion-item>
      </ion-list>
      <p *ngIf="isAdding">Note: Newly added topics can sometimes take up to 24 hours to populate.</p>
    </ion-card-content>
  </ion-card>
</ion-content>