ion-avatar {
    margin-top: 15px;
}

.show-gradient {
    --background: #f3f3f3;
}

ion-toolbar {
    --background:white;
    --min-height: 75px;
    --border-width: 0 0 0 !important;
    ion-title {
        font-weight: bold;
    }
}

.comment-area {
    --background: #f3f3f3; 
    border-radius: 12px; 
    --padding-start: 15px;
    margin: 0;
}

.big-font {
    p {font-size: 100px !important;}
}

.related-article-card {
    height: fit-content;
    width: 180px; 
    flex-shrink: 0; 
    display: flex;
}

.related-article-title {
    font-size: small; 
    padding: 5px 5px 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the content to three lines */
    -webkit-box-orient: vertical;
}

.related-article-subtitle { 
    padding: 5px;
}

.related-article-image {
    height: 100px; 
    width: 100%;
}

.related-article-card-container {
    display: flex;
    width: 100%; 
    padding-top: 5px;
}

.related-article-scroll {
    overflow-x: scroll; 
    padding-top: 0px;
}

.related-article-header {
    padding-left: 55px; 
    padding-bottom: 5px;
}

.reader-counter {
    max-width: 200px;
    margin-left: 0px;
}

@media (prefers-color-scheme: dark) {
    ion-toolbar, ion-button, ion-card, ion-card-title, ion-item {
        --background: #191919;
        --color: #f0f0f0;
    }
    a { color: #1f70ff; }
    .show-gradient {
        --background: #1d1d1d;
    }
    .comment-area {
        --background: #2f2f2f;
    }
}